<html>
	<head>
		<title>input number</title>
	</head>
	<body>
		<form method='POST' action=''>
			{% csrf_token %}
			<h1>Input Number</h1>
			<hr><br>
			<input type="text" name=name>
			<input type="submit" value=submit>
			</br>
		</form>
<style>table {border: 1px solid black;}</style>
		<table>
			<tr><th>
				{% for mul in mul_list %}
				{{mul}}
				</br>
				{% endfor %}
			</th></tr>
		</table>
		</br>
		<table>
			<tr><th>
				{% for element in total %}
				<td>
				{{element.num}}
				</td>
				<td>{{element.total}}
				</td>
				{% endfor %}
			</th></tr>
		</table>
		{{ total.total_text }}
	</body>
</html>
